:host {
  display: block;
  background-color: var(--mat-toolbar-container-background-color);
}

.titleSection {
  p:last-child {
    margin: 0;
  }
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.carousel {
  display: flex;
  gap: 1rem;
  overflow: auto;
}

.carouselLink {
  text-decoration: none;
  color: unset;
  -webkit-tap-highlight-color: transparent;
}

.carouselItem {
  width: max-content;
  max-width: 100px;
  background-color: white;
  padding: 0.3rem;
  border-radius: 10%;
  flex-shrink: 0;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

.serviceAmountAndServiceUsage {
  //display: flex;
}

.serviceAmountSection, .serviceUsagesSection {
  padding: 1rem;
  background: white;
  border: rgba(188, 195, 208, .5);
  border-radius: 16px;
  margin-bottom: 1rem;
}

.serviceUsagesSection {
  width: 130px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.serviceAmountTitle, .serviceUsagesTitle {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.serviceUsagesTitle {
  position: relative;
  margin-bottom: 1rem;
}

.matBadgeHolder {
  position: absolute;
  right: -0.1rem;
}

.servicesUsagesIconWrapper {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  background-color: rgba(219, 219, 219, 0.4);
  border-radius: 30%;
  justify-content: center;
}

.serviceWrapper {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.serviceItem {
  width: calc(33% - 2rem);
}
