
<div class="wrapper">
  <form class="form" [formGroup]="changePasswordForm" (ngSubmit)="submitForm()">
    <h2 class="changePasswordTitle formItem">Смена пароля</h2>
    <mat-divider class="formItem titleDivider"></mat-divider>

    <div class="formFieldsWrapper">
      <mat-form-field class="formField formItem" appearance="outline">
        <mat-label>Старый пароль</mat-label>
        <mat-icon matIconPrefix>lock</mat-icon>
        <input [formControlName]="'oldPassword'" matInput placeholder="Введите значение..."
               [type]="passwordInputTypeForOldPassword"
        >
        <button class="changePasswordTypeBtn" type="button" matSuffix mat-icon-button
                (click)="changePasswordVisibilityForOldPassword($event)"
        >
          <mat-icon>{{passwordInputTypeForOldPassword === 'password' ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        @if(changePasswordForm.get('oldPassword')!.hasError('required')) {
          <mat-error>Обязательное значение</mat-error>
        } @else if (changePasswordForm.get('oldPassword')!.hasError('shouldNotMatch')) {
          <mat-error>Пароли не должны совпадать</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="formField formItem" appearance="outline">
        <mat-label>Новый пароль</mat-label>
        <mat-icon matIconPrefix>lock</mat-icon>
        <input [formControlName]="'newPassword'" matInput placeholder="Введите значение..."
               [type]="passwordInputTypeForNewPassword"
        >
        <button class="changePasswordTypeBtn" type="button" matSuffix mat-icon-button
                (click)="changePasswordVisibilityForNewPassword($event)"
        >
          <mat-icon>{{passwordInputTypeForNewPassword === 'password' ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        @if(changePasswordForm.get('newPassword')!.hasError('required')) {
          <mat-error>Обязательное значение</mat-error>
        }  @else if (changePasswordForm.get('newPassword')!.hasError('shouldNotMatch')) {
          <mat-error>Пароли не должны совпадать</mat-error>
        }
      </mat-form-field>
    </div>
    <button [disabled]="changePasswordForm.invalid" type="submit" class="formItem submitBtn" mat-flat-button>Сменить пароль</button>
  </form>
</div>
