$formItemsWidth: 50%;

.wrapper {
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.formFieldsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
}


.changePasswordTitle {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2rem;
  margin-bottom: 0.2rem;
}

.titleDivider {
  margin-bottom: 2rem;
  border-right-color: #0000001f;
}

.formItem {
  width: $formItemsWidth;
}

.changePasswordTypeBtn {
  margin-right: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submitBtn {
  margin-top: 0.3rem;
}
