$wrapperContentWith: 80%;

.loadingWrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form, .btnWrapper {
  width: $wrapperContentWith;
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
}

.formField {
  width: 100%;
  margin-bottom: 0.5rem;
}

.logoutBtn {
  color: red !important;
}

.mat-mdc-form-field-hint {
  color: gray;
}

.tgIcon {
  transform: rotate(-30deg);
}
