.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  width: 80%;
}

.formField {
  width: 100%;
}

.logoutBtn {
  color: red !important;
}
