.header {
  position: sticky;
  top: 0;
  flex-shrink: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.routeContent {
  flex-grow: 1;
}

.mobileAuthorized {
  max-height: calc(100% - (var(--mat-toolbar-mobile-height) * 2));
}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: #dadada2e;
  padding-top: 8px;
  flex-shrink: 0;
}
