$primaryItemText: #1D2023;
$secondaryItemText: #626c77;


.tabGroup {
  max-height: 100%;
}

:host ::ng-deep {
  .mat-mdc-tab-body-wrapper {
    padding: 1rem;
    height: calc(100% - 49px); //49px - высота header-а табов
  }

  .itemWrapper {
    display: flex;
    gap: 0.8rem;

    .itemIconWrapper {
      background-color: #f2f3f7;
      width: 2rem;
      height: 2rem;
      font-size: 2rem;
      padding: 0.5rem;
      border-radius: 20%;
      .itemIcon {
        color: #969fa8;
        font-size: inherit;
        height: inherit;
        width: inherit;
      }
    }

    .itemTitleWrapper {
      flex-grow: 1;
      .primaryText {
        color: $primaryItemText;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .secondaryText {
        color: $secondaryItemText;
        font-size: 0.9rem;
      }

      .primaryText, .secondaryText {
        margin-bottom: 0;
      }
    }

    .itemPaymentWrapper {
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      .paymentPrice {
        font-weight: 500;
      }

      .paymentPrice, .secondaryText {
        margin-bottom: 0;
      }
    }
  }

  .slideToggleText label {
    font-weight: 500;
  }
}
