<div class="container">
  <app-list-filter #appListFilter
    [filterFields]="filterFields"
    (filterChange)="changeFilter($event)"
  >
  <button mat-button [routerLink]="'./create'" style="margin-bottom: -15px;">Создать</button>
</app-list-filter>

  <ngx-datatable #table
    class="material"
    [columns]="columns"
    [rows]="items"
    [loadingIndicator]="isLoading"
    [ghostLoadingIndicator]="isLoading"
    [scrollbarV]="true"
    [rowHeight]="50"
    [columnMode]="'force'"
    (sort)="onColumnSort($event)"
    (activate)="redirectOnItemPage($event)"
  >
  </ngx-datatable>
</div>
